/* RESET START */
*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
body{
    margin: 0;
    color: #34404b;
    font: 12px/1 'Harmonia_regular', sans-serif;
    background-color: #f4f6f8;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
a:focus, a:hover {
    color: #ff5912;
    text-decoration: none;
}
img {
    max-width: 100%;
}
input, textarea, button {
    outline: none;
    border: none;
}
textarea {
    resize: vertical;
}
button {
    cursor: pointer;
}
/* RESET END */

/* DEFAULT CLASSES START */
.btn-default {
    font-family: 'Harmonia_semibold', sans-serif;
    padding: 17px 30px;
    background-color: #ff5912;
    color: #ffffff;
    font-size: 14px;
    -webkit-border-radius: 0;
            border-radius: 0;
}
.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn:focus,
.btn:active:focus {
    background-color: #34404b;
    color: #ffffff;
    outline: none;
}
.btn-radius {
    -webkit-border-radius: 50px;
            border-radius: 50px;
}
.flex-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.align-center {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.justify-sp-between {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.orange-text {
    color: #ff5912;
}
.white-bg {
    background-color: #fff;
}
.nav > li {
    display: inline-block;
}
.red-bg {
    background-color: #e12e3f;
}
.black-bg {
    background-color: #34404b;
}
.blue-bg {
    background-color: #3ab3ff;
}
.green-bg {
    background-color: #2fd967;
}
@media (max-width: 991px) {
    .nav > li {
        display: block;
    }
}
/* DEFAULT CLASSES END */

/* DEFAULT COMPONENTS START */
.custom-icon {
    position: relative;
    display: inline-block;
}
.title {
    font-family: 'Harmonia_black', sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 25px;
}
.title.big {
    font-size: 52px;
}
.subtitle {
    display: block;
    font-size: 16px;
    color: #495662;
    margin-bottom: 70px;
}
.item-description {
    padding: 0 40px;
}
.item {
    background-color: #ffffff;
    padding: 30px 10px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    text-align: center;
    height: 372px;
    position: relative;
}
.item:hover {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}
.item .item-img {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    height: 216px;
    margin-bottom: 30px;
}

.item .item-img img {
    max-height: 100%;
}
.item:hover .item-img {
    height: 90px;
}
.item .item-title,
.item-mini-title {
    font-family: 'Harmonia_bold', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    margin: 30px 0;
    font-size: 18px;
    color: #34404b;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.item:hover .item-title {
    color: #ff5912;
}

.item-price {
    font-family: 'Harmonia_bold', sans-serif;
    color: #ff5912;
    font-size: 18px;
}
.item:hover .item-price {
    display: none;
}
.more-info-on-hover {
    opacity: 0;
    position: absolute;
    bottom: 30px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    width: 100%;
    padding: 0 50px;
}
.item:hover .more-info-on-hover {
    opacity: 1;
}
.more-info-on-hover .size {
    font-size: 14px;
    color: #34404b;
    margin-bottom: 29px;
}
.more-info-on-hover .colors {
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 1px solid #f2f4f7;
}

.more-info-on-hover .colors li {
    display: inline-block;
    width: 13px;
    height: 13px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}
.more-info-on-hover .item-controls{
    padding-top: 30px;
    text-align: center;
}
.more-info-on-hover .item-controls li{
    display: inline-block;
}
.more-info-on-hover .item-controls li + li{
    margin-left: 30px;
}

@media (max-width: 1199px) {
    .item-description,
    .more-info-on-hover {
        padding: 0;
    }
}
@media (max-width: 991px) {
    .item {
        margin-bottom: 30px;
    }
}

.default-section {
    padding: 60px 0;
}
.checkbox-group input[type="checkbox"] {
    display: none;
}

.checkbox-group label {
    font-size: 16px;
    color: #34404b;
    cursor: pointer;
    margin-bottom: 35px;
}
.checkbox-group label::before {
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 4px solid #edf0f2;
    background-color: #edf0f2;
    margin-right: 13px;
}

.checkbox-group input[type="checkbox"]:checked + label {
    color: #ff5912;
}
.checkbox-group input[type="checkbox"]:checked + label::before {
    border-color: #ff5912;
}
/* DEFAULT COMPONENTS END */


/* ===== HEADER START ===== */
/* top header */
.header {
    position: relative;
}
header .top-header {
    border-bottom: 1px solid #edeff1;
    padding: 20px 0;
}
header .top-header .phones-list li + li {
    margin-left: 20px;
}
header .top-header .phones-list li span.custom-icon {
    margin-right: 10px;
}
.social-nav a + a {
    margin-left: 15px;
}
.social-nav a:hover {
    color: #ff5912;
}
/* bottom header*/
.bottom-header {
    padding: 40px 0;
}
.bottom-header .user-controls ul li {
    display: inline-block;
}
.bottom-header .user-controls ul li + li {
    margin-left: 28px;
}
.user-controls {
    margin-left: auto;
}

.icon-search-ic:hover {
    background-position: -81px 0px;
}
.icon-user-ic:hover {
    background-position: 0px -59px;
}
.icon-cart-ic:hover {
    background-position: -20px -59px;
}
.icon-share-ic:hover {
    background-position: -44px -59px;
}
.icon-add-to-cart-ic:hover {
    background-position: 0px -38px;
}
.icon-like-ic:hover {
    background-position: -38px -80px;
}

.cart-count {
    position: absolute;
    -webkit-transform: translateX(-10px);
        -ms-transform: translateX(-10px);
            transform: translateX(-10px);
    width: 20px;
    padding: 4px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background-color: #34404b;
    margin-top: -23px;
    color: #ffffff;
}
.main-nav {
    margin-left: 75px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}
.main-nav ul li.active {
    color: #ff5912;
}
.main-nav ul li + li {
    margin-left: 40px;
}
.main-nav ul li a{
    font-size: 16px;
    padding: 0;
}
.main-nav ul li a:hover,
.main-nav ul li a:focus {
    color: #ff5912;
    background: none;
}
@media (max-width: 991px) {
    header .bottom-header .main-nav {
        display: none;
    }
    .slicknav_menu {
        display: block;
    }
    .bottom-header .user-controls {
        margin: 0;
    }
}


/* carousel */
.item-flexslider {
    position: relative;
    padding-left: -webkit-calc(8.333% + 30px);
    padding-left: calc(8.333% + 30px);
}
.-items-carousel {
    min-height: 650px;
    background: url(../img/carousel-img-1.jpg) no-repeat center / cover;
    margin-bottom: 60px;
}
.promo .set {
    display: block;
    font-family: 'Harmonia_semibold', sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 15px;
}
.order-details {
    font-family: 'Harmonia_semibold', sans-serif;
    font-size: 18px;
}
.order-details .order {
    color: #ff5912;
    margin-left: 30px;
}
.load-more {
    text-align: center;
    margin-top: 75px;
    padding: 25px 0;
}
.circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #ff5912;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}
/* ===== HEADER END ===== */

/* ===== SPECIAL OFFER START ===== */
.special-offer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    padding: 20px 75px;
}
.sale-price span {
    font-family:'Harmonia_black', sans-serif;
    font-size: 32px;
}
.sale-offer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.sale-offer-square {
    width: 52px;
    height: 60px;
    background-color: #ff5912;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 2;
    margin-right: 75px;
    text-align: center;
}
.square-under {
    position: absolute;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    z-index: 1;
    background-color: #ff9060;
    width: 52px;
    height: 60px;
}
.sale-offer-square span {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    font-family: 'Harmonia_italic', sans-serif;
    color: #ffffff;
    font-size: 14px;
}
.sale-offer-square .sale-amount {
    font-family: 'Harmonia_semibold', sans-serif;
    font-size: 21px;
}

.sale-offer-title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-right: 75px;
}
.sale-offer-title .title {
    font-size: 22px;
}
.sale-offer-title .description {
    line-height: 30px;
    margin-top: 10px;
}


.adv-area {
    font-size: 16px;
    text-align: center;
    margin-left: auto;
}
.adv-area .banner-size {
    display: block;
    font-size: 12px;
    letter-spacing: .6em;
    color: rgba(52, 64, 75, .4);
    margin-top: 12px;
}
/* ===== SPECIAL OFFER END ===== */

/* ===== BEST SALES START ===== */
.item-mini {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding: 35px 27px;
}
.item-mini:hover {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}
.item-mini-description {
    margin-left: 50px;
}
.item-mini-details {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-family: 'Harmonia_semibold', sans-serif;
    font-size: 16px;
    color: #ff5912;
}
.item-mini-rating ul {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.item-mini-rating {
    margin-right: auto;
}
.item-mini-rating .fa-star-o {
    color: #e9ecf3;
}

.item-mini .add-to-cart {
    display: none;
}
.item-mini:hover .item-mini-rating,
.item-mini:hover .item-mini-price {
    display: none;
}
.item-mini:hover .item-mini-details {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.item-mini:hover .add-to-cart {
    display: block;
}
.item-mini .add-to-cart:hover {
    color: #34404b;
}

/* ===== BEST SALES END ===== */

/* ===== SUBSCRIPTION START ===== */
.subscription {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 50px 60px;
    margin-bottom: 60px;
}
.subscription .title {
    font-size: 18px;
    margin-bottom: 0;
}
.subscription .description {
    font-family: 'Harmonia_italic', sans-serif;
    font-size: 14px;
    margin-left: 20px;
}
.subscription form {
    margin-left: auto;
}
.subscription input[type=email] {
    font-family: 'Harmonia_italic', sans-serif;
    font-size: 14px;
    color: #7c8791;
    margin-left: 10px;
    width: 280px;
}

/* ===== SUBSCRIPTION END ===== */

/* ===== FOOTER START ===== */
footer .copyright {
    font-size: 14px;
    line-height: 30px;
    margin-top: 15px;
}
footer ul li {
    list-style-type: disc;
    font-size: 14px;
    line-height: 30px;
}
footer ul li:hover {
    color: #ff5912;
}
footer .payment-title {
    font-family: 'Harmonia_semibold', sans-serif;
    font-size: 16px;
    line-height: 30px;
    margin: 10px 0 20px;
}
/* ===== FOOTER END ===== */

/* ===== CATEGORY PAGE START ===== */
.category-wrap {
    padding-top: 120px;
}
.aside-section {
    padding: 40px;
}
.aside-section + .aside-section {
    margin-top: 30px;
}
.aside-section-title {
    font-family: 'Harmonia_black', sans-serif;
    font-size: 18px;
    color: #ff5912;
    margin-bottom: 35px;
}
.category-wrap .item {
    margin-bottom: 30px;
}
.category-wrap .load-more {
    margin-top: 0;
    margin-bottom: 100px;
}
.category-item {
    font-family: 'Harmonia_semibold', sans-serif;
    font-size: 16px;
    line-height: 50px;
}
.range {
    margin-top: 40px;
}
.min-value, .max-value {
    position: absolute;
    top: -150%;
    font-size: 14px;
    color: #34404b;
    font-family:'Harmonia_semibold', sans-serif;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    left: 50%;
}
.product-wrap {
    padding: 70px 125px;
    background-color: #ffffff;
}
.product-carousel {
    width: 330px;
}
/* ===== CATEGORY PAGE END ===== */

/* ===== PRODUCT PAGE END ===== */
.choose-size span {
    margin-right: 40px;
}
.size-radio input[type="radio"]{
    display: none;
}
.size-radio label {
    font-size: 14px;
    color: #34404b;
    font-family:'Harmonia_semibold', sans-serif;
    text-transform: uppercase;
    cursor: pointer;
}
.size-radio input[type="radio"]:checked + label {
    color: #ff5912;
    font-size: 18px;
}
.size-radio + .size-radio {
    margin-left: 20px;
}
.order-form {
    padding: 40px 0;
    border-top: 1px solid #edeff1;
    border-bottom: 1px solid #edeff1;
}
.order-form span {
    font-family: 'Harmonia_semibold', sans-serif;
    color: #34404b;
    font-size: 18px;
}
.product-price {
    margin-right: auto;
}
.product-share {

}
.product-share li {
    margin-right: 30px;
}
.order-now .btn {
    font-size: 18px;
    text-transform: capitalize;
}
.product-price span {
    font-family: 'Harmonia Sans Pro Cyr Black', sans-serif;
    font-size: 20px;
    color: #34404b;
}
.product-additional-desc .set {
    margin-bottom: 30px;
}
.product-additional-desc .subtitle {
    line-height: 30px;
    margin-bottom: 30px;
}
/* ===== PRODUCT PAGE END ===== */