/* RESET START */
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    color: #34404b;
    font: 12px/1 'Harmonia_regular', sans-serif;
    background-color: #f4f6f8;
}
h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: inherit;
    text-decoration: none;
}
a:focus, a:hover {
    color: #ff5912;
    text-decoration: none;
}
img {
    max-width: 100%;
}
input, textarea, button {
    outline: none;
    border: none;
}
textarea {
    resize: vertical;
}
button {
    cursor: pointer;
}
/* RESET END */

/* DEFAULT CLASSES START */
.flex-container {
    display: flex;
}
.align-center {
    align-items: center;
}
.justify-sp-between {
    justify-content: space-between;
}
.orange-text {
    color: #ff5912;
}
.nav > li {
    display: inline-block;
}
/* DEFAULT CLASSES END */

/* DEFAULT COMPONENTS START */
.custom-icon {
    position: relative;
    display: inline-block;
}
.title {
    font-family: 'Harmonia_black', sans-serif;
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 25px;
}
.title.big {
    font-size: 52px;
}
.subtitle {
    display: block;
    font-size: 16px;
    color: #495662;
    margin-bottom: 70px;
}
.item {
    background-color: #ffffff;
    padding: 30px 10px;
    transition: all .3s linear;
    text-align: center;
}
.item:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}
.item img {
    margin-bottom: 30px;
}
.item-title,
.item-mini-title {
    font-family: 'Harmonia_bold', sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 30px;
    font-size: 18px;
}
.item-price {
    font-family: 'Harmonia_bold', sans-serif;
    color: #ff5912;
    font-size: 18px;
}
.default-section {
    padding: 60px 0;
}
/* DEFAULT COMPONENTS END */


/* ===== HEADER START ===== */
/* top header */
header .top-header {
    border-bottom: 1px solid #edeff1;
    padding: 20px 0;
}
header .top-header .phones-list li + li {
    margin-left: 20px;
}
header .top-header .phones-list li span.custom-icon {
    margin-right: 10px;
}
.social-nav a + a {
    margin-left: 15px;
}
.social-nav a:hover {
    color: #ff5912;
}
/* bottom header*/
.bottom-header {
    padding: 40px 0;
}
.bottom-header .user-controls ul li {
    display: inline-block;
}
.bottom-header .user-controls ul li + li {
    margin-left: 28px;
}
.user-controls {
    margin-left: auto;
}

.icon-search-ic:hover {
    background-position: -62px -38px;
}
.icon-user-ic:hover {
    background-position: -42px -38px;
}
.icon-cart-ic:hover {
    background-position: 0 -59px;
}

.cart-count {
    position: absolute;
    transform: translateX(-10px);
    width: 20px;
    padding: 4px;
    border-radius: 50%;
    background-color: #34404b;
    margin-top: -23px;
    color: #ffffff;
}
.main-nav {
    margin-left: 75px;
    display: flex;
    align-items: center;
}
.main-nav ul li + li {
    margin-left: 40px;
}
.main-nav ul li a{
    font-size: 16px;
    padding: 0;
}
.main-nav ul li a:hover {
    color: #ff5912;
}
/* carousel */
.-items-carousel {
    min-height: 650px;
    background: url(../img/carousel-img-1.jpg) no-repeat center / cover;
    margin-bottom: 60px;
}
.promo .set {
    display: block;
    font-family: 'Harmonia_semibold', sans-serif;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 15px;
}
.order-details {
    font-family: 'Harmonia_semibold', sans-serif;
    font-size: 18px;
}
.order-details .order {
    color: #ff5912;
    margin-left: 30px;
}
.load-more {
    text-align: center;
    margin-top: 100px;
}
.circle {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: #ff5912;
    border-radius: 50%;
}
/* ===== HEADER END ===== */

/* ===== SPECIAL OFFER START ===== */
.special-offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
    padding: 20px 75px;
}
.sale-price span {
    font-family:'Harmonia_black', sans-serif;
    font-size: 32px;
}
.sale-offer {
    display: flex;
}
.sale-offer-square {
    width: 52px;
    height: 60px;
    background-color: #ff5912;
    transform: rotate(45deg);
    display: flex;
    align-items: center;
    z-index: 2;
    margin-right: 75px;
    text-align: center;
}
.square-under {
    position: absolute;
    transform: rotate(-45deg);
    z-index: 1;
    background-color: #ff9060;
    width: 52px;
    height: 60px;
}
.sale-offer-square span {
    transform: rotate(-45deg);
    font-family: 'Harmonia_italic', sans-serif;
    color: #ffffff;
    font-size: 14px;
}
.sale-offer-square .sale-amount {
    font-family: 'Harmonia_semibold', sans-serif;
    font-size: 21px;
}

.sale-offer-title {
    display: flex;
    flex-direction: column;
    margin-right: 75px;
}
.sale-offer-title .title {
    font-size: 22px;
}
.sale-offer-title .description {
    line-height: 30px;
    margin-top: 10px;
}


.adv-area {
    font-size: 16px;
    text-align: center;
    margin-left: auto;
}
.adv-area .banner-size {
    display: block;
    font-size: 12px;
    letter-spacing: .6em;
    color: rgba(52, 64, 75, .4);
    margin-top: 12px;
}
/* ===== SPECIAL OFFER END ===== */

/* ===== BEST SALES START ===== */
.item-mini {
    display: flex;
    padding: 35px 27px;
}
.item-mini:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
}
.item-mini-description {
    margin-left: 50px;
}
.item-mini-details {
    display: flex;
    justify-content: space-between;
    font-family: 'Harmonia_semibold', sans-serif;
    font-size: 16px;
    color: #ff5912;
}
.item-mini-rating ul {
    display: flex;
}
.item-mini-rating {
    margin-right: auto;
}
.item-mini-rating .fa-star-o {
    color: #e9ecf3;
}

.item-mini .add-to-cart {
    display: none;
}
.item-mini:hover .item-mini-rating,
.item-mini:hover .item-mini-price {
    display: none;
}
.item-mini:hover .item-mini-details {
    justify-content: center;
}
.item-mini:hover .add-to-cart {
    display: block;
}
.item-mini .add-to-cart:hover {
    color: #34404b;
}

/* ===== BEST SALES END ===== */

/* ===== SUBSCRIPTION START ===== */
.subscription {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px 120px;
}
.subscription .title {
    font-size: 18px;
    margin-bottom: 0;
}
.subscription .description {
    font-family: 'Harmonia_italic', sans-serif;
    font-size: 14px;
    margin-left: 20px;
}
.subscription form {
    margin-left: auto;
}
.subscription input[type=email] {
    font-family: 'Harmonia_italic', sans-serif;
    font-size: 14px;
    color: #7c8791;
    margin-left: 10px;
    width: 280px;
}
.subscription input[type=submit] {
    font-family: 'Harmonia_semibold', sans-serif;
    padding: 17px 30px;
    background-color: #ff5912;
    color: #ffffff;
    font-size: 14px;
}
.subscription input[type=submit]:hover {
    background-color: #34404b;
}
/* ===== SUBSCRIPTION END ===== */

/* ===== FOOTER START ===== */
footer .copyright {
    font-size: 14px;
    line-height: 30px;
    margin-top: 15px;
}
footer ul li {
    list-style-type: disc;
    font-size: 14px;
    line-height: 30px;
}
footer .payment-title {
    font-family: 'Harmonia_semibold', sans-serif;
    font-size: 16px;
    line-height: 30px;
    margin: 10px 0 20px;
}
/* ===== FOOTER END ===== */
